.tweets-worldwide {
  margin-top: 3rem;
  font-size: 1.5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  background: #dbe2ef;
  border-radius: .5rem;
  border: 1px solid #e3e3e3;
}

.tweets-worldwide h3 {
  color: #112d4e;
}

.tweets-worldwide a {
  color: #3f72af;
}

.tweets-worldwide span {
  color: #112d4e;
}