.welcome {
  margin: 5rem 5%;
  display: flex;
  justify-content: center;
  // align-items: center;
}

.text-wrapper {
  flex: 2;
}

.text-wrapper h1 {
  margin-top: 20rem;
  font-size: 5rem;
  color: azure;
}

.text-wrapper p {
  font-size: 2.5rem;
  color: #dbe2ef;
}

.form-wrapper {
  flex: 1;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.form-wrapper label {
  font-size: 1.5rem;
}

.join-form input[type="text"],
.join-form input[type="password"],
.join-form input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.join-form button[type="submit"] {
  width: 100%;
  background-color: #3c72b8;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.join-form button[type="submit"]>ion-icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.join-form button[type="submit"]:hover {
  background-color: #6188bb;
}